/* Figma Styles of your File */:root {
  /* Colors */
  --skybluegradient: linear-gradient(-66.26deg, rgba(255, 255, 255, 1.00) 0.4807692486792803%,rgba(255, 255, 255, 0.60) 15.729521214962006%,rgba(214, 240, 251, 1.00) 100%);

  /* Fonts */
  --h1-h1-bold-font-family: F37Ginger-Bold, sans-serif;
  --h1-h1-bold-font-size: 36px;
  --h1-h1-bold-line-height: 38px;
  --h1-h1-bold-font-weight: 700;
  --h1-h1-bold-font-style: normal;
  --h1-h1-med-font-family: F37Ginger-Regular, sans-serif;
  --h1-h1-med-font-size: 36px;
  --h1-h1-med-line-height: 38px;
  --h1-h1-med-font-weight: 400;
  --h1-h1-med-font-style: normal;
  --h1-h1-light-font-family: F37Ginger-Light, sans-serif;
  --h1-h1-light-font-size: 36px;
  --h1-h1-light-line-height: 38px;
  --h1-h1-light-font-weight: 300;
  --h1-h1-light-font-style: normal;
  --h1-h1-thin-font-family: F37Ginger-Thin, sans-serif;
  --h1-h1-thin-font-size: 36px;
  --h1-h1-thin-line-height: 38px;
  --h1-h1-thin-font-weight: 100;
  --h1-h1-thin-font-style: normal;
  --h2-h2-bold-font-family: F37Ginger-Bold, sans-serif;
  --h2-h2-bold-font-size: 32px;
  --h2-h2-bold-line-height: 34px;
  --h2-h2-bold-font-weight: 700;
  --h2-h2-bold-font-style: normal;
  --h2-h2-med-font-family: F37Ginger-Regular, sans-serif;
  --h2-h2-med-font-size: 32px;
  --h2-h2-med-line-height: 34px;
  --h2-h2-med-font-weight: 400;
  --h2-h2-med-font-style: normal;
  --h2-h2-light-font-family: F37Ginger-Light, sans-serif;
  --h2-h2-light-font-size: 32px;
  --h2-h2-light-line-height: 34px;
  --h2-h2-light-font-weight: 300;
  --h2-h2-light-font-style: normal;
  --h2-h2-thin-font-family: F37Ginger-Thin, sans-serif;
  --h2-h2-thin-font-size: 32px;
  --h2-h2-thin-line-height: 34px;
  --h2-h2-thin-font-weight: 100;
  --h2-h2-thin-font-style: normal;
  --h3-h3-bold-font-family: F37Ginger-Bold, sans-serif;
  --h3-h3-bold-font-size: 28px;
  --h3-h3-bold-line-height: 28px;
  --h3-h3-bold-font-weight: 700;
  --h3-h3-bold-font-style: normal;
  --h3-h3-med-font-family: F37Ginger-Regular, sans-serif;
  --h3-h3-med-font-size: 28px;
  --h3-h3-med-line-height: 28px;
  --h3-h3-med-font-weight: 400;
  --h3-h3-med-font-style: normal;
  --h3-h3-light-font-family: F37Ginger-Light, sans-serif;
  --h3-h3-light-font-size: 28px;
  --h3-h3-light-line-height: 28px;
  --h3-h3-light-font-weight: 300;
  --h3-h3-light-font-style: normal;
  --h3-h3-thin-font-family: F37Ginger-Thin, sans-serif;
  --h3-h3-thin-font-size: 28px;
  --h3-h3-thin-line-height: 28px;
  --h3-h3-thin-font-weight: 100;
  --h3-h3-thin-font-style: normal;
  --h4-f37-ginger-pro-h4-bold-font-family: F37Ginger-Bold, sans-serif;
  --h4-f37-ginger-pro-h4-bold-font-size: 24px;
  --h4-f37-ginger-pro-h4-bold-line-height: 24px;
  --h4-f37-ginger-pro-h4-bold-font-weight: 700;
  --h4-f37-ginger-pro-h4-bold-font-style: normal;
  --h4-f37-ginger-pro-h4-med-font-family: F37Ginger-Regular, sans-serif;
  --h4-f37-ginger-pro-h4-med-font-size: 24px;
  --h4-f37-ginger-pro-h4-med-line-height: 24px;
  --h4-f37-ginger-pro-h4-med-font-weight: 400;
  --h4-f37-ginger-pro-h4-med-font-style: normal;
  --h4-f37-ginger-pro-h4-light-font-family: F37Ginger-Light, sans-serif;
  --h4-f37-ginger-pro-h4-light-font-size: 24px;
  --h4-f37-ginger-pro-h4-light-line-height: 24px;
  --h4-f37-ginger-pro-h4-light-font-weight: 300;
  --h4-f37-ginger-pro-h4-light-font-style: normal;
  --h4-f37-ginger-pro-h4-thin-font-family: F37Ginger-Thin, sans-serif;
  --h4-f37-ginger-pro-h4-thin-font-size: 24px;
  --h4-f37-ginger-pro-h4-thin-line-height: 24px;
  --h4-f37-ginger-pro-h4-thin-font-weight: 100;
  --h4-f37-ginger-pro-h4-thin-font-style: normal;
  --h4-calibri-h4-semibold-font-family: Calibri-Bold, sans-serif;
  --h4-calibri-h4-semibold-font-size: 20px;
  --h4-calibri-h4-semibold-line-height: 24px;
  --h4-calibri-h4-semibold-font-weight: 700;
  --h4-calibri-h4-semibold-font-style: normal;
  --h4-calibri-h4-default-font-family: Calibri-Regular, sans-serif;
  --h4-calibri-h4-default-font-size: 20px;
  --h4-calibri-h4-default-line-height: 24px;
  --h4-calibri-h4-default-font-weight: 400;
  --h4-calibri-h4-default-font-style: normal;
  --h4-calibri-h4-light-font-family: Calibri-Light, sans-serif;
  --h4-calibri-h4-light-font-size: 20px;
  --h4-calibri-h4-light-line-height: 24px;
  --h4-calibri-h4-light-font-weight: 300;
  --h4-calibri-h4-light-font-style: normal;
  --h5-f37-ginger-pro-h5-bold-font-family: F37Ginger-Bold, sans-serif;
  --h5-f37-ginger-pro-h5-bold-font-size: 19px;
  --h5-f37-ginger-pro-h5-bold-line-height: 24px;
  --h5-f37-ginger-pro-h5-bold-font-weight: 700;
  --h5-f37-ginger-pro-h5-bold-font-style: normal;
  --h5-f37-ginger-pro-h5-med-font-family: F37Ginger-Regular, sans-serif;
  --h5-f37-ginger-pro-h5-med-font-size: 19px;
  --h5-f37-ginger-pro-h5-med-line-height: 24px;
  --h5-f37-ginger-pro-h5-med-font-weight: 400;
  --h5-f37-ginger-pro-h5-med-font-style: normal;
  --h5-f37-ginger-pro-h5-light-font-family: F37Ginger-Light, sans-serif;
  --h5-f37-ginger-pro-h5-light-font-size: 19px;
  --h5-f37-ginger-pro-h5-light-line-height: 24px;
  --h5-f37-ginger-pro-h5-light-font-weight: 300;
  --h5-f37-ginger-pro-h5-light-font-style: normal;
  --h5-f37-ginger-pro-h5-thin-font-family: F37Ginger-Thin, sans-serif;
  --h5-f37-ginger-pro-h5-thin-font-size: 19px;
  --h5-f37-ginger-pro-h5-thin-line-height: 24px;
  --h5-f37-ginger-pro-h5-thin-font-weight: 100;
  --h5-f37-ginger-pro-h5-thin-font-style: normal;
  --h5-calibri-h5-semibold-font-family: Calibri-Bold, sans-serif;
  --h5-calibri-h5-semibold-font-size: 19px;
  --h5-calibri-h5-semibold-line-height: 24px;
  --h5-calibri-h5-semibold-font-weight: 700;
  --h5-calibri-h5-semibold-font-style: normal;
  --h5-calibri-h5-default-font-family: RobotoFlex-Regular, sans-serif;
  --h5-calibri-h5-default-font-size: 19px;
  --h5-calibri-h5-default-line-height: 24px;
  --h5-calibri-h5-default-font-weight: 400;
  --h5-calibri-h5-default-font-style: normal;
  --h5-calibri-h5-light-font-family: RobotoFlex-Light, sans-serif;
  --h5-calibri-h5-light-font-size: 19px;
  --h5-calibri-h5-light-line-height: 24px;
  --h5-calibri-h5-light-font-weight: 300;
  --h5-calibri-h5-light-font-style: normal;
  --title-f37-ginger-pro-title-bold-font-family: F37Ginger-Bold, sans-serif;
  --title-f37-ginger-pro-title-bold-font-size: 32px;
  --title-f37-ginger-pro-title-bold-line-height: 36px;
  --title-f37-ginger-pro-title-bold-font-weight: 700;
  --title-f37-ginger-pro-title-bold-font-style: normal;
  --title-f37-ginger-pro-title-med-font-family: F37Ginger-Regular, sans-serif;
  --title-f37-ginger-pro-title-med-font-size: 32px;
  --title-f37-ginger-pro-title-med-line-height: 36px;
  --title-f37-ginger-pro-title-med-font-weight: 400;
  --title-f37-ginger-pro-title-med-font-style: normal;
  --title-f37-ginger-pro-title-light-font-family: F37Ginger-Light, sans-serif;
  --title-f37-ginger-pro-title-light-font-size: 32px;
  --title-f37-ginger-pro-title-light-line-height: 130%;
  --title-f37-ginger-pro-title-light-font-weight: 300;
  --title-f37-ginger-pro-title-light-font-style: normal;
  --title-f37-ginger-pro-title-thin-font-family: F37Ginger-Thin, sans-serif;
  --title-f37-ginger-pro-title-thin-font-size: 32px;
  --title-f37-ginger-pro-title-thin-line-height: 36px;
  --title-f37-ginger-pro-title-thin-font-weight: 100;
  --title-f37-ginger-pro-title-thin-font-style: normal;
  --title-calibri-title-extrabold-font-family: Calibri-Bold, sans-serif;
  --title-calibri-title-extrabold-font-size: 32px;
  --title-calibri-title-extrabold-line-height: 36px;
  --title-calibri-title-extrabold-font-weight: 700;
  --title-calibri-title-extrabold-font-style: normal;
  --title-calibri-title-semibold-font-family: Calibri-Bold, sans-serif;
  --title-calibri-title-semibold-font-size: 32px;
  --title-calibri-title-semibold-line-height: 36px;
  --title-calibri-title-semibold-font-weight: 700;
  --title-calibri-title-semibold-font-style: normal;
  --title-calibri-title-default-font-family: Calibri-Regular, sans-serif;
  --title-calibri-title-default-font-size: 32px;
  --title-calibri-title-default-line-height: 130%;
  --title-calibri-title-default-font-weight: 400;
  --title-calibri-title-default-font-style: normal;
  --title-calibri-title-light-font-family: Calibri-Light, sans-serif;
  --title-calibri-title-light-font-size: 32px;
  --title-calibri-title-light-line-height: 36px;
  --title-calibri-title-light-font-weight: 300;
  --title-calibri-title-light-font-style: normal;
  --subtitle-f37-ginger-pro-subtitle-bold-font-family: F37Ginger-Bold, sans-serif;
  --subtitle-f37-ginger-pro-subtitle-bold-font-size: 24px;
  --subtitle-f37-ginger-pro-subtitle-bold-line-height: 26px;
  --subtitle-f37-ginger-pro-subtitle-bold-font-weight: 700;
  --subtitle-f37-ginger-pro-subtitle-bold-font-style: normal;
  --subtitle-f37-ginger-pro-subtitle-semi-font-family: F37Ginger-Bold, sans-serif;
  --subtitle-f37-ginger-pro-subtitle-semi-font-size: 24px;
  --subtitle-f37-ginger-pro-subtitle-semi-line-height: 26px;
  --subtitle-f37-ginger-pro-subtitle-semi-font-weight: 700;
  --subtitle-f37-ginger-pro-subtitle-semi-font-style: normal;
  --subtitle-f37-ginger-pro-subtitle-default-font-family: F37Ginger-Regular, sans-serif;
  --subtitle-f37-ginger-pro-subtitle-default-font-size: 24px;
  --subtitle-f37-ginger-pro-subtitle-default-line-height: 26px;
  --subtitle-f37-ginger-pro-subtitle-default-font-weight: 400;
  --subtitle-f37-ginger-pro-subtitle-default-font-style: normal;
  --subtitle-f37-ginger-pro-subtitle-light-font-family: F37Ginger-Light, sans-serif;
  --subtitle-f37-ginger-pro-subtitle-light-font-size: 24px;
  --subtitle-f37-ginger-pro-subtitle-light-line-height: 26px;
  --subtitle-f37-ginger-pro-subtitle-light-font-weight: 300;
  --subtitle-f37-ginger-pro-subtitle-light-font-style: normal;
  --subtitle-calibri-subtitle-default-font-family: Calibri-Light, sans-serif;
  --subtitle-calibri-subtitle-default-font-size: 24px;
  --subtitle-calibri-subtitle-default-line-height: 26px;
  --subtitle-calibri-subtitle-default-font-weight: 300;
  --subtitle-calibri-subtitle-default-font-style: normal;
  --subtitle-calibri-subtitle-regular-font-family: Calibri-Regular, sans-serif;
  --subtitle-calibri-subtitle-regular-font-size: 24px;
  --subtitle-calibri-subtitle-regular-line-height: 26px;
  --subtitle-calibri-subtitle-regular-font-weight: 400;
  --subtitle-calibri-subtitle-regular-font-style: normal;
  --subtitle-calibri-subtitle-bold-font-family: Archivo-Bold, sans-serif;
  --subtitle-calibri-subtitle-bold-font-size: 24px;
  --subtitle-calibri-subtitle-bold-line-height: 26px;
  --subtitle-calibri-subtitle-bold-font-weight: 700;
  --subtitle-calibri-subtitle-bold-font-style: normal;
  --body-body-bold-font-family: Calibri-Bold, sans-serif;
  --body-body-bold-font-size: 16px;
  --body-body-bold-line-height: 20px;
  --body-body-bold-font-weight: 700;
  --body-body-bold-font-style: normal;
  --body-body-regular-font-family: Calibri-Regular, sans-serif;
  --body-body-regular-font-size: 16px;
  --body-body-regular-line-height: 20px;
  --body-body-regular-font-weight: 400;
  --body-body-regular-font-style: normal;
  --body-body-default-font-family: Calibri-Light, sans-serif;
  --body-body-default-font-size: 16px;
  --body-body-default-line-height: 20px;
  --body-body-default-font-weight: 300;
  --body-body-default-font-style: normal;
  --body-body-link-font-family: Calibri-Bold, sans-serif;
  --body-body-link-font-size: 16px;
  --body-body-link-line-height: 20px;
  --body-body-link-font-weight: 700;
  --body-body-link-font-style: normal;
  --body-sm-body-sm-bold-font-family: Calibri-Bold, sans-serif;
  --body-sm-body-sm-bold-font-size: 14px;
  --body-sm-body-sm-bold-line-height: 16px;
  --body-sm-body-sm-bold-font-weight: 700;
  --body-sm-body-sm-bold-font-style: normal;
  --body-sm-body-sm-regular-font-family: RobotoFlex-Light, sans-serif;
  --body-sm-body-sm-regular-font-size: 14px;
  --body-sm-body-sm-regular-line-height: 16px;
  --body-sm-body-sm-regular-font-weight: 300;
  --body-sm-body-sm-regular-font-style: normal;
  --body-sm-body-sm-default-font-family: Calibri-Light, sans-serif;
  --body-sm-body-sm-default-font-size: 14px;
  --body-sm-body-sm-default-line-height: 16px;
  --body-sm-body-sm-default-font-weight: 300;
  --body-sm-body-sm-default-font-style: normal;
  --body-sm-body-sm-link-font-family: Calibri-Bold, sans-serif;
  --body-sm-body-sm-link-font-size: 14px;
  --body-sm-body-sm-link-line-height: 16px;
  --body-sm-body-sm-link-font-weight: 700;
  --body-sm-body-sm-link-font-style: normal;
  --body-lg-body-lg-bold-font-family: Calibri-Bold, sans-serif;
  --body-lg-body-lg-bold-font-size: 18px;
  --body-lg-body-lg-bold-line-height: 22px;
  --body-lg-body-lg-bold-font-weight: 700;
  --body-lg-body-lg-bold-font-style: normal;
  --body-lg-body-lg-regular-font-family: Calibri-Regular, sans-serif;
  --body-lg-body-lg-regular-font-size: 18px;
  --body-lg-body-lg-regular-line-height: 22px;
  --body-lg-body-lg-regular-font-weight: 400;
  --body-lg-body-lg-regular-font-style: normal;
  --body-lg-body-lg-default-font-family: Calibri-Light, sans-serif;
  --body-lg-body-lg-default-font-size: 18px;
  --body-lg-body-lg-default-line-height: 22px;
  --body-lg-body-lg-default-font-weight: 300;
  --body-lg-body-lg-default-font-style: normal;
  --body-lg-body-lg-link-font-family: Calibri-Bold, sans-serif;
  --body-lg-body-lg-link-font-size: 18px;
  --body-lg-body-lg-link-line-height: 22px;
  --body-lg-body-lg-link-font-weight: 700;
  --body-lg-body-lg-link-font-style: normal;
  --footnote-f37-ginger-pro-footnote-bold-font-family: F37Ginger-Bold, sans-serif;
  --footnote-f37-ginger-pro-footnote-bold-font-size: 13px;
  --footnote-f37-ginger-pro-footnote-bold-line-height: 15px;
  --footnote-f37-ginger-pro-footnote-bold-font-weight: 700;
  --footnote-f37-ginger-pro-footnote-bold-font-style: normal;
  --footnote-f37-ginger-pro-footnote-light-font-family: F37Ginger-Regular, sans-serif;
  --footnote-f37-ginger-pro-footnote-light-font-size: 13px;
  --footnote-f37-ginger-pro-footnote-light-line-height: 15px;
  --footnote-f37-ginger-pro-footnote-light-font-weight: 400;
  --footnote-f37-ginger-pro-footnote-light-font-style: normal;
  --footnote-f37-ginger-pro-footnote-default-font-family: F37Ginger-Light, sans-serif;
  --footnote-f37-ginger-pro-footnote-default-font-size: 13px;
  --footnote-f37-ginger-pro-footnote-default-line-height: 15px;
  --footnote-f37-ginger-pro-footnote-default-font-weight: 300;
  --footnote-f37-ginger-pro-footnote-default-font-style: normal;
  --footnote-calibri-footnote-bold-font-family: Calibri-Bold, sans-serif;
  --footnote-calibri-footnote-bold-font-size: 13px;
  --footnote-calibri-footnote-bold-line-height: 15px;
  --footnote-calibri-footnote-bold-font-weight: 700;
  --footnote-calibri-footnote-bold-font-style: normal;
  --footnote-calibri-footnote-regular-font-family: Calibri-Regular, sans-serif;
  --footnote-calibri-footnote-regular-font-size: 13px;
  --footnote-calibri-footnote-regular-line-height: 15px;
  --footnote-calibri-footnote-regular-font-weight: 400;
  --footnote-calibri-footnote-regular-font-style: normal;
  --footnote-calibri-footnote-default-font-family: Calibri-Light, sans-serif;
  --footnote-calibri-footnote-default-font-size: 13px;
  --footnote-calibri-footnote-default-line-height: 15px;
  --footnote-calibri-footnote-default-font-weight: 300;
  --footnote-calibri-footnote-default-font-style: normal;
  --label-label-bold-font-family: F37Ginger-Bold, sans-serif;
  --label-label-bold-font-size: 16px;
  --label-label-bold-line-height: 20px;
  --label-label-bold-font-weight: 700;
  --label-label-bold-font-style: normal;
  --label-label-regular-font-family: F37Ginger-Regular, sans-serif;
  --label-label-regular-font-size: 16px;
  --label-label-regular-line-height: 20px;
  --label-label-regular-font-weight: 400;
  --label-label-regular-font-style: normal;
  --label-label-default-font-family: F37Ginger-Light, sans-serif;
  --label-label-default-font-size: 16px;
  --label-label-default-line-height: 20px;
  --label-label-default-font-weight: 300;
  --label-label-default-font-style: normal;
  --label-lg-label-lg-bold-font-family: F37Ginger-Bold, sans-serif;
  --label-lg-label-lg-bold-font-size: 18px;
  --label-lg-label-lg-bold-line-height: 24px;
  --label-lg-label-lg-bold-font-weight: 700;
  --label-lg-label-lg-bold-font-style: normal;
  --label-lg-label-lg-regular-font-family: F37Ginger-Regular, sans-serif;
  --label-lg-label-lg-regular-font-size: 18px;
  --label-lg-label-lg-regular-line-height: 24px;
  --label-lg-label-lg-regular-font-weight: 400;
  --label-lg-label-lg-regular-font-style: normal;
  --label-lg-label-lg-default-font-family: F37Ginger-Light, sans-serif;
  --label-lg-label-lg-default-font-size: 18px;
  --label-lg-label-lg-default-line-height: 24px;
  --label-lg-label-lg-default-font-weight: 300;
  --label-lg-label-lg-default-font-style: normal;
  --label-sm-label-sm-bold-font-family: F37Ginger-Bold, sans-serif;
  --label-sm-label-sm-bold-font-size: 14px;
  --label-sm-label-sm-bold-line-height: 16px;
  --label-sm-label-sm-bold-font-weight: 700;
  --label-sm-label-sm-bold-font-style: normal;
  --label-sm-label-sm-regular-font-family: F37Ginger-Regular, sans-serif;
  --label-sm-label-sm-regular-font-size: 14px;
  --label-sm-label-sm-regular-line-height: 16px;
  --label-sm-label-sm-regular-font-weight: 400;
  --label-sm-label-sm-regular-font-style: normal;
  --label-sm-label-sm-default-font-family: F37Ginger-Light, sans-serif;
  --label-sm-label-sm-default-font-size: 16px;
  --label-sm-label-sm-default-line-height: 16px;
  --label-sm-label-sm-default-font-weight: 300;
  --label-sm-label-sm-default-font-style: normal;
  --label-xs-label-xs-bold-font-family: F37Ginger-Bold, sans-serif;
  --label-xs-label-xs-bold-font-size: 12px;
  --label-xs-label-xs-bold-line-height: 14px;
  --label-xs-label-xs-bold-font-weight: 700;
  --label-xs-label-xs-bold-font-style: normal;
  --label-xs-label-xs-reg-font-family: F37Ginger-Regular, sans-serif;
  --label-xs-label-xs-reg-font-size: 12px;
  --label-xs-label-xs-reg-line-height: 14px;
  --label-xs-label-xs-reg-font-weight: 400;
  --label-xs-label-xs-reg-font-style: normal;
  --label-xs-label-xs-default-font-family: F37Ginger-Light, sans-serif;
  --label-xs-label-xs-default-font-size: 12px;
  --label-xs-label-xs-default-line-height: 14px;
  --label-xs-label-xs-default-font-weight: 300;
  --label-xs-label-xs-default-font-style: normal;
  --label-xxs-label-xxs-bold-font-family: F37Ginger-Bold, sans-serif;
  --label-xxs-label-xxs-bold-font-size: 10px;
  --label-xxs-label-xxs-bold-line-height: 14px;
  --label-xxs-label-xxs-bold-font-weight: 700;
  --label-xxs-label-xxs-bold-font-style: normal;
  --label-xxs-label-xxs-reg-font-family: F37Ginger-Regular, sans-serif;
  --label-xxs-label-xxs-reg-font-size: 10px;
  --label-xxs-label-xxs-reg-line-height: 14px;
  --label-xxs-label-xxs-reg-font-weight: 400;
  --label-xxs-label-xxs-reg-font-style: normal;
  --label-xxs-label-xxs-default-font-family: F37Ginger-Light, sans-serif;
  --label-xxs-label-xxs-default-font-size: 10px;
  --label-xxs-label-xxs-default-line-height: 14px;
  --label-xxs-label-xxs-default-font-weight: 300;
  --label-xxs-label-xxs-default-font-style: normal;

  /* Effects */
  --hover-shadow-dark-seafoam-box-shadow:  2px 2px 0px 0px rgba(56, 76, 64, 1.00);
  --hover-shadow-blue-box-shadow:  2px 2px 0px 0px rgba(97, 113, 223, 1.00);
  --hover-shadow-black-box-shadow:  2px 2px 0px 0px rgba(28, 28, 28, 1.00);
  --hover-shadow-yellow-box-shadow:  2px 2px 0px 0px rgba(208, 124, 6, 1.00);
  --hover-shadow-light-grey-box-shadow:  2px 2px 0px 0px rgba(229, 231, 235, 1.00);
  --hover-shadow-mid-grey-box-shadow:  2px 2px 0px 0px rgba(210, 213, 218, 1.00);
  --hover-shadow-success-box-shadow:  2px 2px 0px 0px rgba(34, 127, 26, 1.00);
  --hover-shadow-error-box-shadow:  2px 2px 0px 0px rgba(28, 28, 28, 1.00);
  --hover-shadow-info-box-shadow:  2px 2px 0px 0px rgba(54, 111, 151, 1.00);
  --shadow-shadow-xs-box-shadow:  0px 1px 4px 0px rgba(39, 39, 39, 0.05);
  --shadow-shadow-sm-box-shadow:  0px 2px 4px 0px rgba(39, 39, 39, 0.10);
  --shadow-shadow-default-box-shadow:  0px 5px 10px 0px rgba(39, 39, 39, 0.10);
  --shadow-shadow-med-box-shadow:  0px 12px 20px -2px rgba(39, 39, 39, 0.15);
  --shadow-shadow-lg-box-shadow:  0px 32px 48px -12px rgba(39, 39, 39, 0.20);
  --shadow-shadow-xl-box-shadow:  0px 48px 80px -12px rgba(39, 39, 39, 0.25);
  --shadow-light-shadow-sm-box-shadow:  0px 2px 4px 0px rgba(255, 255, 255, 0.10);
  --blur-blur-sm-8-backdrop-filter: blur(4px);
  --blur-blur-default-24-backdrop-filter: blur(12px);
  --blur-blur-lg-48-backdrop-filter: blur(24px);
  --blur-blur-xl-64-backdrop-filter: blur(32px);
}
/* Figma Color Variables of your File */:root, [data-echo-design-system-mode=mode-1] {
  /* mode-1 */
  --color-primary-blue-blue: #2f42bd;
  --color-primary-blue-dark-blue: #191e3c;
  --color-primary-blue-blue-50: #f9f9fe;
  --color-primary-blue-blue-100: #e7e9f4;
  --color-primary-blue-blue-200: #c5caed;
  --color-primary-blue-blue-300: #95a0e5;
  --color-primary-blue-blue-400: #6171df;
  --color-primary-sky-blue-sky-blue: #0ba7ea;
  --color-primary-sky-blue-dark-sky-blue: #04435e;
  --color-primary-sky-blue-sky-blue-50: #f4fcff;
  --color-primary-sky-blue-sky-blue-100: #d6f0fb;
  --color-primary-sky-blue-sky-blue-200: #b6e5f9;
  --color-primary-sky-blue-sky-blue-300: #85d3f5;
  --color-primary-sky-blue-sky-blue-400: #54c1f0;
  --color-primary-seafoam-seafoam: #8bbf9f;
  --color-primary-seafoam-extra-dark-seafoam: #384c40;
  --color-primary-seafoam-seafoam-50: #f3f9f5;
  --color-primary-seafoam-seafoam-100: #dcece2;
  --color-primary-seafoam-seafoam-200: #c5dfcf;
  --color-primary-seafoam-seafoam-300: #aed2bc;
  --color-primary-seafoam-seafoam-400: #97c5a9;
  --color-primary-yellow-yellow: #f9c846;
  --color-primary-yellow-dark-yellow: #e8a317;
  --color-primary-yellow-yellow-50: #fefaed;
  --color-primary-yellow-yellow-100: #fef4da;
  --color-primary-yellow-yellow-200: #fdeec7;
  --color-primary-yellow-yellow-300: #ffeab2;
  --color-primary-yellow-yellow-400: #fce4a5;
  --color-primary-seafoam-dark-seafoam: #4b6d58;
  --color-primary-seafoam-seafoam-25: #f9fcfa;
  --color-primary-sky-blue-sky-blue-25: #fafdff;
}

:root, [data-global-design-tokens-mode=mode-1] {
  /* mode-1 */
  --color-base-black: #1c1c1c;
  --color-base-white: #ffffff;
  --color-base-peach-cream-50: #fffaf2;
  --color-base-peach-cream-100: #fff4e5;
  --color-base-peach-cream-200: #e6dcce;
  --color-base-overlay: rgba(28, 28, 28, 0.45);
  --color-neutral-gray-gray-900: #111827;
  --color-neutral-gray-gray-600: #4b5563;
  --color-neutral-gray-gray-500: #6d7280;
  --color-neutral-gray-gray-700: #374151;
  --color-neutral-gray-gray-300: #d2d5da;
  --color-neutral-gray-gray-800: #1f2937;
  --color-neutral-gray-gray-200: #e5e7eb;
  --color-neutral-gray-gray-100: #f3f4f6;
  --color-neutral-gray-gray-400: #9ca3af;
  --color-neutral-gray-gray-50: #f9fafb;
  --color-secondary-navy-light: #c8d2e4;
  --color-secondary-navy-mid: #565296;
  --color-secondary-blue-gray-light: #c8c7d1;
  --color-secondary-blue-gray: #61607c;
  --color-secondary-navy: #3a3282;
  --color-status-dark-green: #227f1a;
  --color-status-orange-light: #fef4da;
  --color-status-purple: #5d2c82;
  --color-status-info-blue-light: #f5fcff;
  --color-status-purple-light: #fbf7ff;
  --color-status-info-blue: #366f97;
  --color-status-dark-orange: #d07c06;
  --color-status-orange: #f4a403;
  --color-status-green-light: #f2fff1;
  --color-status-green: #96f78d;
  --color-status-red-light: #fbebeb;
  --color-status-red: #ce2031;
}

:root, [data-cnl-design-system-mode=mode-1] {
  /* mode-1 */
  --color-primary-blue-blue: #3776ce;
  --color-primary-blue-gray-blue-gray: #304047;
  --color-primary-light-blue-sky-blue: #00b2eb;
  --color-primary-green-green: #9ec738;
  --color-additional-gray-light-light-gray-default: #e8ebeb;
  --color-additional-gray-dark-dark-gray-default: #5c5e60;
  --color-additional-gray-light-light-gray-100: #f0f2f2;
  --color-additional-gray-light-light-gray-50: #f9fafa;
  --color-additional-gray-light-light-gray-200: #d2d7d7;
  --color-additional-gray-light-light-gray-300: #b3bdbd;
  --color-additional-gray-light-light-gray-400: #95a3a3;
  --color-additional-gray-light-light-gray-600: #5c6a6a;
  --color-additional-gray-dark-dark-gray-100: #4d4e50;
  --color-additional-gray-dark-dark-gray-200: #3d3f40;
  --color-additional-gray-dark-dark-gray-300: #2e2f30;
  --color-additional-gray-dark-dark-gray-400: #1f1f20;
  --color-additional-gray-dark-dark-gray-25: #b4b5b5;
  --color-primary-blue-dark-blue: #182b47;
  --color-primary-blue-blue-400: #6695dd;
  --color-primary-blue-blue-300: #84aae4;
  --color-primary-blue-blue-200: #a3c0eb;
  --color-primary-blue-blue-100: #c2d5f1;
  --color-primary-blue-blue-50: #dae6f7;
  --color-primary-blue-blue-25: #f2f7ff;
  --color-primary-blue-gray-dark-blue-gray: #182024;
  --color-primary-blue-gray-blue-gray-50: #d6d9da;
  --color-primary-blue-gray-blue-gray-100: #b7c6cb;
  --color-primary-blue-gray-blue-gray-200: #9eacb5;
  --color-primary-blue-gray-blue-gray-300: #758084;
  --color-primary-blue-gray-blue-gray-400: #536066;
  --color-primary-light-blue-dark-sky-blue: #026281;
  --color-primary-light-blue-sky-blue-50: #ccf0fb;
  --color-primary-light-blue-sky-blue-100: #aae5f8;
  --color-primary-light-blue-sky-blue-200: #80d9f5;
  --color-primary-light-blue-sky-blue-300: #55ccf2;
  --color-primary-light-blue-sky-blue-400: #2abfee;
  --color-additional-gray-dark-dark-gray-50: #8b8b8b;
  --color-primary-green-green-400: #aed059;
  --color-primary-green-green-300: #cee39a;
  --color-primary-green-green-200: #d6e7aa;
  --color-primary-green-green-100: #deecba;
  --color-primary-green-green-50: #eef5db;
  --color-primary-green-dark-green: #435518;
  --color-status-rose: #fcabb3;
  --color-status-note-mid: #dfbff8;
  --color-status-edit: #b1cbde;
}

