.outlineIconsNameWrenchOutlineCategoryOutline,
.outlineIconsNameWrenchOutlineCategoryOutline * {
  box-sizing: border-box;
}
.outlineIconsNameWrenchOutlineCategoryOutline {
  flex-shrink: 0;
  width: 120px;
  height: 120px;
  position: relative;
  overflow: visible;
  aspect-ratio: 1;
}
